.adresar {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__left {
      display: flex;
      gap: 10px;
    }
  }

  &__links {
    display: flex;
    gap: 20px;
  }
  &__list__title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    border-radius: 2px;

    h3 {
      flex-basis: 25%;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__list {
    overflow-y: scroll;
    height: 63vh;
    &__person {
      text-decoration: none;
      color: black;
    }
  }

  &__footer {
    padding: 10px 0px;
  }
}
